header {
  display: flex;
  background: rgb(
    235,
    0,
    41
  ); /*Used this website to match the exact color of the logo to the header background https://www.geeksforgeeks.org/image-color-picker/*/
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: sans-serif;
  background-image: url("https://cdn.sanity.io/images/cctd4ker/production/7c82dc04b9b7cd6fdc7050baac63f9a0fa1d0b58-3200x1800.jpg?w=1080&q=75&fit=clip&auto=format");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  margin: 0;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  height: 60px;
  padding: 0 20px;
}

.container2 {
  display: flex;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  max-height: 100%;
  word-wrap: break-word; /*Used ChatGPT to get the word-wrap and overflow elements*/
  overflow: hidden;
}

.container2 h2 {
  max-width: 100%;
}

#headerImg {
  max-width: 300px;
}

#imgContainer {
  max-width: 200px;
  max-height: 200px;
  z-index: 10; /*Get this portion from ChatGPT to position the item on top*/
}

.con1_column1 {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.con1_column2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  background: black;
  color: white;
  padding: 0 20px;
}

.display1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  padding: 0 20px;
  box-sizing: border-box; /*Got this from ChatGPT, to allow it to count the padding in the dimensions*/
}

.con2_column1,
.con2_column2 {
  flex: 1;
  padding: 10px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.display2 {
  flex: 1; /*Don't fully understand this--got it from ChatGPT and also used it elsewhere. */
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  max-height: 500px;
}
